# Disable directory browsing

Options -Indexes

# Deny access to files with extensions .ini, .psd, .log, .sh .sql

<FilesMatch "\.(ini|psd|log|sh|sql)$">
    Deny from all
</FilesMatch>

# Set CORS to Every File

<FilesMatch "^\.">
    Header set Access-Control-Allow-Origin http://localhost
    Header set Access-Control-Allow-Credentials: true
    Header set Access-Control-Max-Age: 86400
</FilesMatch>

# Run Php without filename extension
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
