.main-navbar {
    height: 5rem;
    width: 100%;
    padding: 1.25rem;
    background-color: var(--primary-color);
    display: flex;
}

.menubar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions {
    height: 100%;
    margin-left: auto;
    margin-right: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px white solid;
}

.actions > i {
    padding: 1rem;
}

.main-navbar > img {
    border-radius: 50%;
    border: 1px white solid;
}