<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="img/logo/logo.png" rel="icon">
    <title>O-SEMAR - Dashboard</title>
    <link href="css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="css/index/style.css">
</head>

<body>
    <main>
        <aside class="sidebar">
            <div class="brand">
                <a href="" class="logo navbar-brand">O-Semar</a>
            </div>
            <nav class="sidebar-nav">
                <a href="">Dashboard</a>
                <ul class="nav-item">
                    <li class="nav-link">Menu 1</li>
                    <li class="nav-link">Menu 2</li>
                    <li class="nav-link">Menu 3</li>
                </ul>
            </nav>
        </aside>
        <section>
            <nav class="main-navbar">
                <div class="menubar">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="actions">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-bell"></i>
                    <i class="fas fa-envelope"></i>
                    <i class="fas fa-tasks"></i>
                </div>
                <img src="./img/boy.png" alt="Avatar">
            </nav>
        </section>
    </main>
    <script src="css/vendor/jquery/jquery.min.js"></script>
    <!-- <script src="css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script src="css/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="css/vendor/chart.js/Chart.min.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>
</body>

</html>